.code-wrap{
  .t-bg{
    border: none;
  }
  .code-title{
    cursor: pointer;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-top: 1px solid #dddddd; 
    border-bottom: none;
    .tri{
      transform: rotate(0);
      transition: transform linear 0.3s;
    }
  }
  .code-show{
    width: 100%;
    height: 0;
    background: #fff;
    overflow: hidden;
    transition: all linear 0.3s;
    .code{
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      overflow: auto;
    }
  }
  &.active{
    .code-title{
      border-bottom: 1px solid #dddddd; 
      .tri{
        transform: rotate(90deg)
      }
    }
  }
}