<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>知识总结 -- <%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<%= require('html-loader!./layout/header.html')  %> 
	<div class="action">
		<div class="w w-bg">
			<h1 class="t-bg title">一道光闪过</h1>

			<div class="result">
				<div class="img">
					<img src="<%= require('../image/sky.jpg') %>" alt="">
				</div>
			</div>
			<%= require('html-loader!./layout/code-block.html')  %> 
		</div>
	</div>
	<%= require('html-loader!./layout/footer.html')  %> 
</body>
</html>